<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/82279ccfbc.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{ title }}</title>
 
</head>
<body>
  
<div class="container">
<div class="header">
  <img src="/assets/img/black.png" alt="The Rock Project">
</div>

<div class="vibe">You ROCK!</div>
    <div class="love">
        <i class="fas fa-headphones"></i> ❤️ <i class="fas fa-guitar"></i>
      
    </div>
</div>

  <ul>
  <li class="navitem"><a href="/">Home</a></li>
  <li class="navitem"><a href="/shotguntori">Shotgun Tori</a></li>
  <li class="navitem"><a href="/perez">Perez</a></li>
  <li class="navitem"><a href="/silentgenerator">Silent Generator</a></li>
  <li class="navitem"><a href="/wonderboom">Wonderboom</a></li>
  <li class="navitem"><a href="/about">About</a></li>
  <li class="navitem"><a href="/news">News</a></li>
  <li class="navitem"><a href="/strava">Strava</a></li>
</ul>

<div class="container">
    <h1>{{ title }}</h1>
    
  </div>

  <script src="/js/vibe.js"></script>

  {{ content | safe }}

</body>
</html>