<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/82279ccfbc.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
  <title>{{ title }}</title>
  <style>
    body {
      text-align:center;
    }
    div.container {
      width:400px;
      margin: 0 auto;
    }
    .love {
      font-size: 8em;
    }

    h1 {
        font-family: 'New Rocker', cursive;
        font-size: 3em;
    }

    .vibe {
        font-family: 'New Rocker', cursive;
        font-size: 2em;
    }

    img {
        width: 30%;
        height: auto;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
    }

    li {
      float: left;
    }    

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: 'New Rocker', cursive;
      font-size: 2em;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }

  </style>
</head>
<body>
  
<div class="header">
  <img src="img/black.png" alt="The Rock Project">
</div>

  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="/about">About</a></li>
</ul>

  {{ content | safe }}

</body>
</html>