body {
    text-align:center;
  }
  div.container {
    width:500px;
    margin: 0 auto;
  }
  .love {
    font-size: 8em;
  }

  h1 {
      font-family: 'New Rocker', cursive;
      font-size: 3em;
  }

  .vibe {
      font-family: 'New Rocker', cursive;
      font-size: 2em;
  }

  img {
      width: 30%;
      height: auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  li {
    float: left;
  }    

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'New Rocker', cursive;
    font-size: 2em;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }