---
title: Rockstar About Page
layout: base.njk
---

<div class="container">
  <h1>A music themed learning site!</h1>
  <p>It was made using HTML, CSS and JavaScript. And served as a JAMStack site.</p>
</div>