---
title: Wonderboom
layout: base.njk
---

<div class="container">
    <h1>Wonderboom</h1>
    <div class="vibe">You ROCK!</div>
    <div class="love">
        <i class="fas fa-headphones"></i> ❤️ <i class="fas fa-guitar"></i>
      
    </div>
  </div>
  <script src="/js/vibe.js"></script>